
.messages {
  padding: 30px 7%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  min-height: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../../assets/fondo-wsp-chat-original.png");
  background-size: 400px ;
  background-repeat: repeat;
  background-color: #f1ebe3;
  max-height: calc(100vh - 172px);
}
.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.message {
  background-color: white;
  border-radius:18px 18px 18px 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding:8px 15px;
  width: 65%;
  position: relative;
    z-index: 2;
    word-wrap: break-word;
}

.message .time {
  color: var(--grey-900);
  font-size: 11px;
  text-align: end;
}

.me {
  align-self: flex-end;
  background-color: var(--violet-300);
  border-radius: 18px 18px 2px 18px;
  color: #111b21;
}
.no-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.no-selection-content {
  background: rgba(255, 255, 255, 0.7); 
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-placeholder {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.no-selection h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 24px;
}

.no-selection p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.badge {
  font-size: 12px;
  color: #888;
  background: #eee;
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}