
.messages {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  min-height: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../assets/fondo-wsp-chat-original.png");
  background-size: 65% ;
  background-color: #f1ebe3;
}


.message {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 60%;
  position: relative;
    z-index: 2;
}

.message .time {
  color: var(--grey-900);
  font-size: 14px;
  text-align: end;
}

.me {
  align-self: end;
  background-color: var(--violet-300);
}