.home-page{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}