footer {
  display: flex;
  background-color: var(--grey-500);
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
}

footer button {
  width: 25px;
  height: 25px;
  padding: 3px;
}

footer svg {
  width: 100%;
  height: 100%;
}

footer .attach {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-700);
  transition: color .2s;
}

footer .attach:hover {
  color: var(--grey-800);
}

footer form {
  display: flex;
  align-items: center;
  flex: 1;
}

footer textarea {
  background-color: white;
  padding: 8px;
  resize: none;
  border-radius: 20px;
  width: 100%;
  border: none;
}

footer textarea:focus {
  outline: 2px solid var(--violet-300);
  border: none;
}

footer .enviar {
 background-color: var(--violet-300); 
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: all .1s;
  flex-shrink: 0;
}

footer .enviar:hover {
  background-color: var(--violet-500); 
  transform: scale(0.98);
}