.chats ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  overflow: auto;
  height: 723px;
}

.user-chat {
  background-color: var(--sidebar-item);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-left: 3px solid transparent;
   transition: background-color .2s ease, border-left .2s ease;
}

.chat-info {
  flex: 1;
}

.user-chat img {
  border-radius: 50%;
  width: 48px;
  border: 2px solid transparent;
}

.user-chat h3 {
  font-size: 15px;
  font-weight: 600;
  color: var(--sidebar-text);
}

.user-chat p {
  font-size: 13px;
  color: var(--sidebar-text-muted);
  margin-top: 2px;
}

.user-chat span {
  font-size: 11px;
  color: var(--sidebar-text-muted);
  float: right;
}

.user-chat:hover {
  background-color: var(--sidebar-hover);
  cursor: pointer;
  border-left: 3px solid var(--violet-100);
}

.user-chat.active {
  background-color: var(--sidebar-header);
  border-left: 3px solid var(--violet-300);
}

.user-chat.active h3 {
  color: white;
}

.user-chat.active p {
  color: #c7c3ff;
}

.user-chat.active img {
  border-color: var(--violet-300);
}

